@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
   background-image:linear-gradient(rgb(72, 93, 211), rgb(2, 3, 18), rgb(11, 4, 31));
  font-family: 'Space Mono', monospace, sans-serif;
}
.container {
  background: radial-gradient(
    ellipse at center,
    #f4ee8f84 2%,
    #e4da4384 5%,
    #c23a04 25%,
    #180547 50%,
    #0a0215 100%
  );
  background-repeat: no-repeat;
  background-color: #080217f5;
}
button {
 
  background-color: Transparent;
  color: rgb(12, 97, 243);
  font-size: x-large;
  position: relative;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 3rem;
  /* 2rem for small screen 5rem for large use at media query to change size of text scroll*/
  font-family: sans-serif;
  text-align: center;
  line-height: 100vh;
  cursor: pointer;
 
  /* aligns text to center of the page!*/
}
h1:hover{
    color:#6bb1e7;
}

.stop {
  display: none;
}

.play {
  display: block;
  color:transparent; /*Make sure you set the play button to show on click!*/
}

#rings {
  position: relative;
  top: 70px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  opacity: 0.1;
  animation: opacity 5s 3s infinite alternate;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

span {
  opacity: 0;
}

span.fade {
  opacity: 1;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

.scene1 {
  display: none;
}

/*top sphere scene 1 animation*/
.sphere{
   width: 300px;
   position: relative;


	
}
.ball {
	display: block;
	width: 350px;
	height: 350px;
	margin: 50px auto 0;
	border-radius: 50%;
   
}
.ball1 {
    background:#6bb1e7; 
  }
/*animations*/

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

@keyframes opacity {
  from {
    opacity: 0.05;
  }

  to {
    opacity: 0.3;
  }
}

.image {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
